@import "/src/scss/variables";

.wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;

  :global(.expand) & {
    width: 50%;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
