@import "src/scss/variables";
@import "src/scss/animation";
@import "src/scss/mixin";

.wrap {
  display: flex;
  justify-content: center;
  position: relative;
  background: $color-header-bg;
  height: 100%;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding: 30px;
  max-width: $pc-content-width;
  background-color: #fff;
  box-sizing: border-box;
}

.link {
  display: flex;
  align-items: center;
  width: 140px;
  height: 48px;
  text-align: center;
  border-radius: 8px;

  @include gradientBackground($color-insta-radial);

  &:hover::before {
    animation: wave 5s -1s reverse infinite;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  color: $color-btn-color;
}
