@import "src/scss/variables";

.wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $color-header-bg;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $pc-max-width;
  margin: auto;
  padding: 0 30px;
  height: 56px;
}
.title {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.login {
  padding: 8px 16px;
  background: $color-login-btn;
  border-radius: 6px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;

  &:hover {
    transform: scale(1.1);
  }
}
